*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Centaur";
    src: url("@/assets/Fonts/Centaur.ttf");
}

@font-face {
    font-family: "Ly";
    src: url("@/assets/Fonts/SanJiLangYiLangTi-2.ttf");
}